<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PinpadBridge.Properties.PinpadBridge" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <PinpadBridge.Properties.PinpadBridge>
            <setting name="Port_Name" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="Port_BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="Port_Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Port_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Port_StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Pinpad_AckTimeoutMs" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Http_Url" serializeAs="String">
                <value>http://localhost:8123/PinpadBridge</value>
            </setting>
        </PinpadBridge.Properties.PinpadBridge>
    </applicationSettings>
</configuration>
